video-record #videorecord-wrapper {
	height: 100%;
	background: #ffffff;
}/**/

video-record #videorecord-wrapper .header{
	background: #2098d1;
	color: #ffffff;
	padding-bottom: 1.5em; 
}/**/

video-record #videorecord-wrapper .main{
	height: calc(100% - 24px - 3.5em);
}/**/

video-record #videorecord-wrapper .main > div{
	height: calc(100% - 0.5em);
}/**/

video-record #videorecord-wrapper .main #controls{
	height: 3.5em;
}/**/

video-record #videorecord-wrapper .main #list-rec.card{
	height: calc(100% - 24px - 3em);
}/**/

video-record video{
	background: url('../../images/bgvideo.png');
	height: 99%;
	width: 99%;
}/**/

video-record #videorecord-wrapper .main .card{
	position: relative;
	margin: 4px;
}/**/

video-record #videorecord-wrapper .main .card-header{
	background: #d7d7d7;
	color: #ffffff;
}/**/
video-record #videorecord-wrapper .card-header h2{
	text-align: center;
}/**/
video-record #videorecord-wrapper .card-header p{
	font-size: small;
	font-style: italic;
}/**/


video-record #videorecord-wrapper span.unsupport{
	text-decoration: line-through;
	color: #FF5555;
}/**/

video-record #videorecord-wrapper #list-rec .card-main{
	overflow-y: auto;
	height: calc(100% - 80px);
}/**/

video-record .btn-control{
	position: absolute !important;
	margin-left: -1em;
}/**/

.key{
	font-weight: bold;
}/**/
.value{
	font-weight: normal;
}/**/

/*Ocultar contenido*/
video-record .unsupport{
	filter: grayscale(100%) blur(1px);
	pointer-events: none;
}/**/