<div id="mr-wrapper">
	<div class="header p" ng-class="{'bgc-amber-500': ($ctrl.state === 'unsupport')}">
		<h1>Audio Record</h1>
		<p ng-show="$ctrl.state !== 'unsupport'">Realize grabaciones de audio desde su dispositivo de forma facíl y sencillas.</p>
		<p ng-show="$ctrl.state === 'unsupport'">Capacidad no soportada.</p>
	</div>
	<div class="main p" ng-class="{unsupport: ($ctrl.state === 'unsupport')}" flex-column>
		<div class="card p">
			<div flex-container="row" flex-column="16">
				<div flex-item="14">
					<audio controls="true" id="audioOutput" autoplay="" ng-src="{{$ctrl.input}}"></audio>
				</div>
				<div flex-item="{{($ctrl.state === 'pause')? 1 : 2;}}" style="text-align: center;">
					<lx-button ng-show="$ctrl.state === 'stopped' || $ctrl.state === 'unsupport'"
						lx-type="fab" 
						lx-size="s" 
						lx-color="red"  
						lx-tooltip="Grabar" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.rec()"
						class="btn-control">
						<i class="mdi mdi-record"></i>
					</lx-button>
					<lx-button ng-show="$ctrl.state === 'recording'"
						lx-type="fab" 
						lx-size="s" 
						lx-color="blue" 
						lx-tooltip="Parar" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.pause()"
						class="btn-control">
						<i class="mdi mdi-pause"></i>
					</lx-button>
					<lx-button ng-show="$ctrl.state === 'pause'"
						lx-type="fab" 
						lx-size="s" 
						lx-color="blue" 
						lx-tooltip="Cancelar" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.cancel()"
						class="btn-control">
						<i class="mdi mdi-close"></i>
					</lx-button>
				</div>
				<div flex-item="1" ng-show="$ctrl.state === 'pause'" style="text-align: center;">
					<lx-button 
						lx-type="fab" 
						lx-size="s" 
						lx-color="green" 
						lx-tooltip="Guardar" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.save()"
						class="btn-control">
						<i class="mdi mdi-content-save"></i>
					</lx-button>
				</div>
			</div>
		</div>
		<div class="card" id="list-rec">
			<div class="card-header p">
				<div flex-container="row" flex-column="16">
					<div flex-item="14">
						<h3>Grabaciones</h3>
						<p>Actualmente existen <span ng-bind="$ctrl.recs.length"></span> grabaciones.</p>
					</div>
					
					<div flex-item="2" class="center">
						<lx-button 
							lx-type="icon"
							lx-size="m"
							lx-color="green"
							lx-tooltip="Play" 
							lx-tooltip-position="bottom"
							ng-click="$ctrl.playList()">
							<i class="mdi mdi-play"></i>
						</lx-button>
					</div>
				</div>
			</div>
			<div class="card-main">
				<div 
					class="card p" 
					ng-class="{unsupport:($ctrl.state !== 'stopped')}"
					flex-container="row" 
					flex-column="16" 
					ng-repeat="record in $ctrl.recs">
					<div flex-item="12">
						<h4>Nombre: <span ng-bind="record.name"></span></h4>
					</div>
					<div flex-item="4" class="center">
						<lx-button 
							lx-type="icon"
							lx-size="m"
							lx-color="red"
							lx-tooltip="Delete" 
							lx-tooltip-position="bottom"
							ng-click="$ctrl.delete($index)">
							<i class="mdi mdi-delete"></i>
						</lx-button>
						<lx-button 
							lx-type="icon"
							lx-size="m"
							lx-color="green"
							lx-tooltip="Play" 
							lx-tooltip-position="bottom"
							ng-click="$ctrl.play($index)">
							<i class="mdi mdi-play"></i>
						</lx-button>
					</div>
				</div>
			</div>
		</div>
	<div>
</div>