#Ficehros con extension:
*.pak
*.ogg
*.wav
*.dat
*.bin
*.nexe

#Directorios
.git/
lib/
locales/
node_modules/
build/
pnacl/

#Ficheros que no son necesarios.
chromedriver
minidump_stackwalk
nacl_helper
nacl_helper_bootstrap
nw
nwjc
payload

#Librerias guardadas por bower
app/public/libs/

#Los archivos multimendia que va generando ffmpeg.
app/records/audio/
app/records/video/
app/public/records/screenshot/
app/public/records/audio/
app/public/records/video/
