
<!DOCTYPE html>
<html ng-app="otisDemo">

<head>
    <title>Demo Otis v2</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="libs/lumx/dist/lumx.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="js/gui/controls/controls.style.css">
    <link rel="stylesheet" type="text/css" href="js/gui/menu/menu.style.css">
    <link rel="stylesheet" type="text/css" href="js/gui/panel/panel.style.css">
    <link rel="stylesheet" type="text/css" href="js/features/features.style.css">
    <link rel="stylesheet" type="text/css" href="js/media-record/media-record.style.css">
    <link rel="stylesheet" type="text/css" href="js/video-call/video-call.style.css">
</head>
<body ng-controller="mainController as main">
    <div id="wrapper">
        <header flex-container="column" ng-include src="'partials/header.html'"></header>
        <main flex-container="column" ng-include src="'partials/main.html'"></main>
        <footer flex-container="column" ng-include src="'partials/footer.html'"></footer>
    </div>

    <!--Libs Scripts-->
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/velocity/velocity.js"></script>
    <script src="libs/moment/min/moment-with-locales.js"></script>
    <script src="libs/moment/moment.js"></script>
    <script src="libs/adapterjs/publish/adapter.debug.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-ui-clock/angular-clock.js"></script>
    <script src="libs/lumx/dist/lumx.js"></script>
    <script src="libs/janus-gateway/html/janus.js"></script>

    <!--Libs Scripts-->
    <script src="libs/angular-ui-clock/dist/angular-clock.min.js"></script>
    
    <script src="js/features/features.module.js"></script>
    <script src="js/features/features.component.js"></script>
    <script src="js/media-record/media-record.module.js"></script>
    <script src="js/media-record/media-record.component.js"></script>
    <script src="js/mirroring/mirroring.module.js"></script>
    <script src="js/mirroring/mirroring.component.js"></script>
    <script src="js/video-call/video-call.module.js"></script>
    <script src="js/video-call/video-call.component.js"></script>
    <script src="js/gui/menu/menu.module.js"></script>
    <script src="js/gui/menu/menu.constant.js"></script>
    <script src="js/gui/menu/menu.component.js"></script>
    <script src="js/gui/menu/menu-item/menuItem.component.js"></script>
    <script src="js/gui/controls/controls.module.js"></script>
    <script src="js/gui/controls/controls.component.js"></script>
    <script src="js/gui/gui.module.js"></script>
    

    <script src="js/webrtc/webrtc.module.js"></script>
    <script src="js/webrtc/webrtc.config.js"></script>
    <script src="js/webrtc/webrtc.service.js"></script>
    <script src="js/webrtc/plataform/plataform.service.js"></script>
    <script src="js/webrtc/adapter/adapter.service.js"></script>
    <script src="js/webrtc/dependencies/dependencies.constant.js"></script>
    <script src="js/webrtc/dependencies/dependencies.service.js"></script>
    <script src="js/webrtc/devices/devices.service.js"></script>
    <script src="js/webrtc/device/device.service.js"></script>
    <script src="js/webrtc/record/record.service.js"></script>
    <script src="js/webrtc/janus/janus.constant.js"></script>
    <!--<script src="js/webrtc/janus/janus.service.js"></script>-->


    <script src="js/core/nw/nw.module.js"></script>
    <script src="js/core/nw/nw.service.js"></script>
    <script src="js/core/window/window.module.js"></script>
    <script src="js/core/window/window.service.js"></script>
    <script src="js/core/core.module.js"></script>
    <script src="js/core/core.constant.js"></script>
    <script src="js/core/core.service.js"></script>
    <script src="js/core/core.config.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/app.controller.js"></script>
    <script src="js/app.config.js"></script>
</body>
</html>
