<div id="videocall-wrapper">
	<div class="header p" flex-container="row" flex-column="16" class="center" ng-class="{'bgc-amber-500': ($ctrl.state === 0)}">
		<div flex-item="12">
			<h1>Video Call</h1>
			<p ng-show="$ctrl.state > 0">Comunique se de forma secilla.</p>
			<p ng-show="$ctrl.state === 0">Capacidad no soportada.</p>
		</div>
		<div flex-item="4" 	flex-container="row" flex-column="16" style="margin: auto" 
			ng-show="$ctrl.state > 0">
			<div flex-item="14" flex-container="column" style="font-size: smaller;">
				<div>
					<label >Session ID:</label>
					<input type="text"
						ng-disabled="true"
						ng-model="$ctrl.session_id" 
						style="background-color: transparent; color: white; border: none; border-bottom: 1px dashed white;">
				</div>
				<div>
					<label>Handler Plugin ID:</label>
					<input type="text"
						ng-disabled="true"
						ng-model="$ctrl.plugin_id" 
						style="background-color: transparent; color: white; border: none; border-bottom: 1px dashed white;">
				</div>
			</div>
			<div flex-item="2" flex-container="column" class="center" style="font-size: smaller;">
				<div ng-show="$ctrl.state === 1">
					<lx-button
						lx-type="fab" 
						lx-size="xs" 
						lx-color="amber"  
						lx-tooltip="Iniciar Sesion Janus" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.createSession()"
						ng-class="{}">
						<i class="mdi mdi-login"></i>
					</lx-button>
				</div>
				<div flex-container="column" 
					ng-show="$ctrl.state === 2">
					<div>
					<lx-button
						lx-type="fab" 
						lx-size="xs" 
						lx-color="red"  
						lx-tooltip="Cerrar Sesion Janus" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.destroySession()"
						ng-class="{}">
						<i class="mdi mdi-logout"></i>
					</lx-button>
					</div>
					<div>
					<lx-button
						lx-type="fab" 
						lx-size="xs" 
						lx-color="amber"  
						lx-tooltip="Conectar al Plugin" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.attachPlugin()"
						ng-class="{}">
						<i class="mdi mdi-attachment"></i>
					</lx-button>
					</div>
				</div>
				<div ng-show="$ctrl.state === 3">
					<lx-button
						lx-type="fab" 
						lx-size="xs" 
						lx-color="red"  
						lx-tooltip="Desconectar del Plugin" 
						lx-tooltip-position="bottom"
						ng-click="$ctrl.detachPlugin()"
						ng-class="{}">
						<i class="mdi mdi-close"></i>
					</lx-button>
				</div>
			</div>
		</div>
	</div>
	<div class="main p" ng-class="{unsupport: ($ctrl.state === 0)}" flex-column>
		<div flex-container="row" flex-column="16">
			<div flex-item="6" id="showcase"> <!-- Delete -->
				<div class="card-header"><h1>Stream Local</h1></div>
				<video class="card p" controls="true" id="videoLocal" autoplay="true" poster="images/otislogo.svg" ng-src="{{$ctrl.localStream}}"></video>
			</div>
			<div flex-item="6" id="showcase"> <!-- flex-item= "11" -->
				<div class="card-header"><h1>Stream Remoto</h1></div>
				<video class="card p" controls="true" id="videoRemote" autoplay="true" poster="images/otislogo.svg" ng-src="{{$ctrl.remoteStream}}"></video>
			</div>
			<div flex-item="4" flex-container="column"> <!-- flex-item= "5" -->
				<div class="card p++" id="">
					<div class="card-main" flex-container="column">
						<div flex-container="row" flex-column="12" class="p++">
							<div flex-item="4" class="center">
								<lx-button 
										lx-type="fab" 
										lx-size="s" 
										lx-color="blue"
										lx-tooltip="Video Send" 
										lx-tooltip-position="bottom"
										ng-click=""
										ng-show="true"
										class="btn-control"
										ng-class="{
											'inactive': ($ctrl.state !== 3), 
											'inactive-back': ($ctrl.state !== 3)
										}">
										<!--mdi-camorder-off-->
										<i class="mdi mdi-camcorder"></i>
									</lx-button>
							</div>
							<div flex-item="4" class="center">
								<lx-button 
										lx-type="fab" 
										lx-size="s" 
										lx-color="blue"  
										lx-tooltip="Audio Send" 
										lx-tooltip-position="bottom"
										ng-click=""
										ng-show="true"
										class="btn-control"
										ng-class="{
											'inactive': ($ctrl.state !== 3), 
											'inactive-back': ($ctrl.state !== 3)
										}">
										<!-- mdi-microphone-off -->
										<i class="mdi mdi-microphone"></i>
									</lx-button>
							</div>
							<div flex-item="4" class="center"></div>
						</div>
					</div>
					<div class="card-main" flex-container="column">
						<div flex-container="column">
							<div ng-class="{'inactive': ($ctrl.state !== 3)}">
								<lx-text-field lx-label="Nombre de Usuario">
									<input type="text" 
										ng-model="$ctrl.userName" 
										lx-color="blue">
								</lx-text-field>
							</div>
							<div ng-class="{'inactive': ($ctrl.state !== 4)}">
								<lx-select ng-model="$ctrl.userCall"
									lx-choices="$ctrl.contacts"
									lx-label="who should we call?"
									lx-allow-clear = "true"
									lx-color="blue">
									<lx-select-selected>{{$selected}}</lx-select-selected>
									<lx-select-choices>{{ $choice }}</lx-select-choices>
								</lx-select>
							</div>
							<div id="controls" 
								flex-container="row" 
								flex-column="12"
								class="p++">
								<div flex-item="4" class="center">
									<lx-button 
										lx-type="fab" 
										lx-size="s" 
										lx-color="blue"  
										lx-tooltip="Registrar" 
										lx-tooltip-position="bottom"
										ng-click="$ctrl.login()"
										ng-show="$ctrl.state <= 3"
										class="btn-control"
										ng-class="{
											'inactive': ($ctrl.state !== 3), 
											'inactive-back': ($ctrl.state !== 3)
										}">
										<i class="mdi mdi-account-plus"></i>
									</lx-button>
									<lx-button
										lx-type="fab" 
										lx-size="s" 
										lx-color="blue"  
										lx-tooltip="Unregister" 
										lx-tooltip-position="bottom"
										ng-click="$ctrl.detachPlugin()"
										ng-show="$ctrl.state > 3 "
										class="btn-control"
										ng-class="{
											'inactive': ($ctrl.state !== 4), 
											'inactive-back': ($ctrl.state !== 4)
										}">
										<i class="mdi mdi-account-minus"></i>
									</lx-button>
								</div>
								<div flex-item="4" class="center">
								<lx-button 
									flex-item="4"
									lx-type="fab" 
									lx-size="s" 
									lx-color="green" 
									lx-tooltip="Llamar" 
									lx-tooltip-position="bottom"
									ng-click="$ctrl.call()"
									class="btn-control"
									ng-class="{
										'inactive': ($ctrl.state !== 4), 
										'inactive-back': ($ctrl.state !== 4)
									}">
									<i class="mdi mdi-call-made"></i>
								</lx-button>
								</div>
								<div flex-item="4" class="center">
								<lx-button 
									flex-item="4"
									lx-type="fab" 
									lx-size="s" 
									lx-color="red" 
									lx-tooltip="Colgar LLamada" 
									lx-tooltip-position="bottom"
									ng-click="$ctrl.hangup()"
									class="btn-control"
									ng-class="{
										'inactive': ($ctrl.state !== 6), 
										'inactive-back': ($ctrl.state !== 6)
									}">
									<i class="mdi mdi-call-received"></i>
								</lx-button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div>
</div>